<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="telephone=no" name="format-detection">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="on" http-equiv="cleartype">
		<title>订单列表</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/1reset.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/2layout.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			
			.bgw {
				background-color: #fff;
			}
			
			#om_main {
				width: 100%;
				height: 100%;
			}
			
			#om_main .om_orderDetails {
				width: 97%;
				margin: 10px auto;
				background-color: #ffffff;
			}
			
			.red {
				color: #eb3c3c;
			}
			
			#om_main .om_orderNum {
				font-size: 1rem;
			}
			
			#om_main .om_orderDetails_top {
				overflow: hidden;
				line-height: 2.56rem;
				padding-right: 10px;
				padding-left: 16px;
				border-bottom: 1px solid #f0f0f0;
				margin-bottom: 11px;
			}
			
			#om_main .om_orderState {
				font-size: 0.88rem;
			}
			
			#om_main .om_orderDetails_mid {
				padding-right: 10px;
				padding-left: 16px;
				overflow: hidden;
				font-size: 0.88rem;
			}
			
			#om_main .om_orderDetails_mid_left {
				width: 18.6%;
				height: 3.5rem;
				margin-bottom: 15px;
				margin-right: 10px;
			}
			
			#om_main .om_orderDetails_mid_left img {
				width: 100%;
				display: inline-block;
				border: 1px solid #f0f0f0;
			}
			
			#om_main .om_orderDetails_mid_right {
				overflow: hidden;
				margin-top: 6px;
				width: 77%;
			}
			
			#om_main .om_orderDetails_mid_right ul {
				width: 100%;
				font-size: 0.96rem;
			}
			
			#om_main .om_orderDetails_mid_right ul li {
				float: left;
				display: table-cell;
			}
			
			#om_main .om_orderDetails_mid_right_name {
				width: 63%;
			}
			
			#om_main .om_orderDetails_mid_right_Num {
				width: 19%;
				text-align: center;
			}
			
			#om_main .om_orderDetails_mid_right_pric {
				float: right !important;
			}
			
			#om_main .om_orderDetails_botm {
				padding-right: 10px;
				padding-left: 16px;
				overflow: hidden;
			}
			
			#om_main .om_orderDetails_botm ul li {
				overflow: hidden;
				font-size: 0.88rem;
				margin-bottom: 19px;
			}
			
			#om_main .om_orderDetails_btn {
				overflow: hidden;
				/*padding-right: 10px;
				padding-left: 16px;*/
				border-top: 1px solid #f0f0f0;
				margin-top: 7.5px;
				padding: 10px 10px 16px;
			}
			
			#om_main .om_orderDetails_btn img {
				width: 2.25rem;
				height: 2.25rem;
			}
			
			#om_main .om_orderDetails_btn_right {
				overflow: hidden;
			}
			
			#om_main .om_orderDetails_btn_right button {
				width: 6.88rem;
				height: 2.5rem;
				border: 1px solid #c8c8c8;
				line-height: 2.5rem;
				text-align: center;
			}
			
			#om_main .om_orderDetails_btn_left {
				width: 15%;
			}
			
			#om_main .om_orderDetails_btn_right {
				overflow: hidden;
				/*margin-top: -10px;*/
				width: 85%;
			}
			
			#om_main .om_orderDetails_btn_right .om_cancelOrder {
				background-color: #ffffff;
				border-radius: 50%;
				width: 2.3rem;
				height: 2.3rem;
				border-color: #646464;
				color: #000;
			}
			
			#om_main .om_orderDetails_btn_right .om_checkStatic {
				background-color: #14a050;
				border: none;
				color: #fff;
				border-radius: 2px;
			}
			
			.om_pay,.om_again {
				background: #df393d;
				border: none !important;
				color: #fff;
				font-size: 0.96rem;
				border-radius: 2px;
				
			}
			
			.om_dpb {
				display: inline-block;
			}
			
			.om_dpn {
				display: none;
			}
			.om_cR{
				color: #eb3c3c;
			}
			.om_cG{
				color: #14a050;
			}
			.om_cO{
				color: #969696;
			}
			.load_div{
				position: absolute;
				top: 40%;
				left: 50%;
			}
		</style>
	</head>

	<body>
		<div id="om_main">
			<% if(!data || data.length==0){ %>
				<script>
					alert('暂无订单!');
					window.location.href = '/index.html';
				</script>
			<%}else{%>
				<%for(var i=0; i<data.length; i++){%>  <!--data==orderArr-->
				<div class="om_orderDetails bgw">
					<!--订单状态 #start-->
					<div class="om_orderDetails_top">
						<p class="fl om_orderNum">
							订单号：<span class="om_orderDetails_top_orderNum"><%=data[i]._id%></span>
						</p>
						<p class="fr red om_orderState">
							状态：
							<span class="om_orderDetails_top_orderState">
								<%if(data[i].state == 0){%>
								<span class="om_cR">待支付</span>
								<%}else if(data[i].state == 1){%>
								<span class="om_cG">待接单</span>
								<%}else if(data[i].state == 3){%>
								<span class="om_cG">已完成</span>
								<%}else if(data[i].state == 4){%>
								<span class="om_cR">店铺拒单</span>
								<%}else if(data[i].state == 5){%>
								<span class="om_cG">已接单</span>
								<%}else if(data[i].state == 6){%>
								<span class="om_cO">已退单</span>
								<%}else if(data[i].state == 7){%>
								<span class="om_cO">已取消</span>
								<%}else if(data[i].state == 9){%>
								<span class="om_cG">退单中</span>
								<%}else if(data[i].state == 10){%>
								<span class="om_cR">退单失败</span>
								<%}else{%>
								<%}%>
							</span>
						</p>
					</div>
					<!--订单状态 #end-->
					<!--订单列表的菜品显示 #start-->
					<%for(var k=0;k<data[i].detail.data.meals.length;k++){%>
					<div class="om_orderDetails_mid">
						<div class="om_orderDetails_mid_left fl">
							<img src="<%=decodeURIComponent(data[i].detail.data.meals[k].picture)%>" />
						</div>
						<div class="om_orderDetails_mid_right fl">
							<ul>
								<li class="om_orderDetails_mid_right_name">
									<%=data[i].detail.data.meals[k].mealName%>
								</li>
								<li class="om_orderDetails_mid_right_Num">X<span class="om_foodNum"><%=data[i].detail.data.meals[k].count%></span></li>
								<li class="om_orderDetails_mid_right_pric"><span class="om_foodPirc"><%=data[i].detail.data.meals[k].price%></span>元</li>
							</ul>
						</div>
					</div>
					<%}%>
					<!--订单列表的菜品显示 #end-->
					<div class="om_orderDetails_botm">
						<ul>
							<li>
								<p class="fl">配送地址：<%=data[i].address + data[i].doorplate%></p>
								<p class="fr">配送费用：<%=data[i].peisongfei%>元</p>
							</li>
							<li>
								<p class="fl">送餐时间：<%=data[i].arrive_time%></p>
								<p class="fr om_cR">优惠减免：0元</p>
							</li>
							<li>
								<p class="fl">下单时间：<%=data[i].order_time%></p>
								<p class="fr">实付：<%=data[i].total_money%></p>
							</li>
						</ul>
					</div>
					<div class="om_orderDetails_btn">
						<div class="om_orderDetails_btn_left fl">
							<a href="tel:<%=data[i].phone%>"><img src="/assets/images/om_tel.png" /></a>
						</div>
						<div class="om_orderDetails_btn_right fr">
							<%if(data[i].state == 0 || data[i].state == 1 || data[i].state == 5){%>
								<button class="btn om_cancelOrder fl">
									<%if(data[i].state ==0){%>
									取消
									<%}else{%>
									退单
									<%}%>
								</button>
							<%}%>
							<%if(data[i].state == 1 || data[i].state == 5 || data[i].state == 9){%>
							<button class="btn om_checkStatic fr">查看状态</button>
							<%}%>
							<%if(data[i].state == 0){%>
							<button class="btn om_pay fr">立即支付</button>
							<%}%>

							<%if(data[i].state == 3 || data[i].state == 4 || data[i].state == 7 || data[i].state == 6 || data[i].state == 10){%>
							 <button class="btn om_again fr">再来一单</button>
							<%}%>

						</div>
					</div>
				</div>
				<%}%>
			<%}%>

			
			<div class="load_div om_dpn">
				<img src="/assets/images/load.gif" />
			</div>
		</div>
	</body>
</html>
